projects/project_1/scripts/experiment_1/.ipynb_checkpoints/
.ipynb_checkpoints/
projects/project_1/results/
*.pyc
*.gz
.vscode/settings.json
*.fastq
tests/data/*
*.Rhistory
.gitignore.swp
.gitignore
Aligned.out.sam
Log.out
Log.progress.out
