projects/project_1/scripts/experiment_1/.ipynb_checkpoints/Phase-1-checkpoint.ipynb
projects/project_1/scripts/experiment_1/.ipynb_checkpoints/Phase-2-checkpoint.ipynb
*.pyc
*.gz
.vscode/settings.json
*.fastq
tests/data/*
*.Rhistory
.gitignore.swp
.gitignore
Aligned.out.sam
Log.out
Log.progress.out
